<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
    <localRepository>D:\repository</localRepository>

    <pluginGroups>

    </pluginGroups>

    <proxies>

    </proxies>

    <servers>
        <server>
            <id>release</id>
            <username>0CFnC7n/</username>
            <password>ZwTwhxRmeMXq8Hq04MCsNrol1Ugj++f++ktg+G3rI2ZM</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>maven-default-http-blocker</id>
            <mirrorOf>external:http:*</mirrorOf>
            <name>Pseudo repository to mirror external repositories initially using HTTP.</name>
            <url>http://0.0.0.0/</url>
            <blocked>true</blocked>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>release</id>
            <properties>
                <gpg.executable>C:/Program Files (x86)/GnuPG/bin/gpg.exe</gpg.executable>
            </properties>
        </profile>
    </profiles>

</settings>
